@import "variables.scss";
.dropdown-item{
  margin-left: 0!important;

  &:active{
    background-color: $blueTn!important;
  }

}

.container-hero{
  margin-left: 8%;
}

.points-pattern-left{
  background-image: url("~assets/img/svg/tnetworks-points-pattern.svg");
  width: 88px;
  height: 187px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -8%;
}

.points-pattern-center{
  background-image: url("~assets/img/svg/tnetworks-points-pattern-center.svg");
  width: 225px;
  height: 187px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: -8%;
}

.points-pattern-section2{
  background-image: url("~assets/img/svg/tn-points-pattern-section2.svg");
  width: 225px;
  height: 187px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0%;
  transform: translateY(50%);
  right: 20px;
}

.bg-blue-tn{
  background-color: $blueTn;
}

.bg-gray-tn{
  background-color: $grayTn;
}
.bg-gray-tn-land{
  background-color: $grayTnLand;
}

.text-blue-tn{
  color: $blueTn;
}

.text-orange-tn{
  color: $ornageTn;
}

.btn-radius{
  border-radius: 30px;
}
.btn-square{
  border-radius: 5px;
}

.border-radius-30{
  border-radius: 30px;
}

.border-radius-10{
  border-radius: 10px;
}

.btn-blue{
  background-color: $blueTn;
  color: white!important;
  a{
    color: white!important;
  }
}

.btn-gray{
  background-color: $grayTn;
  color: $blueTn;
}

.bg-cta-landing{
  background-image: url("../img/svg/tn-bg-cta-landing.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-bordered-white{
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
  a{
    color: white!important;
  }
}

.btn-bordered-white-thin{
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
}
.btn-bordered-bottom-white{
  border-radius: 0;
  background-color: transparent;
  p{
    color: white!important;
  }

  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 2px solid white;
    left: -100%;
    bottom: 0;
    transition: left 0.5s linear;
  }

  &:hover{
    &:before{
      left: 0;
    }
  }
}


// Partenrs
.partner-tn-1{
  background-image: url("../img/svg/tn-partner-vmware.svg");
  background-size: cover;
  width: 118px;
  height: 18px;
}

.partner-tn-2{
  background-image: url("../img/svg/tn-partner-microsoft.svg");
  background-size: cover;
  width: 118px;
  height: 32px;
}
.partner-tn-3{
  background-image: url("../img/svg/tn-partner-veeam.svg");
  background-size: cover;
  width: 104px;
  height: 53px;
}
.partner-tn-4{
  background-image: url("../img/svg/tn-partner-hp.svg");
  background-size: cover;
  width: 127px;
  height: 53px;
}
.partner-tn-5{
  background-image: url("../img/svg/tn-partner-cisco.svg");
  background-size: cover;
  width: 92px;
  height: 48px;
}
.partner-tn-6{
  background-image: url("../img/svg/tn-partner-purestorage.svg");
  background-size: cover;
  width: 158px;
  height: 28px;
}

.card-industry{
  transition: background-color 1s ease-in-out;
  &:hover{
    background-color: white;
  }
}

.container5{
  margin-left: 10%;
}

.container6{
  margin-right: 10%;
}

.img-side-container{
  position: relative;
  img{
    z-index: 3;
  }
  &:after{
    content: '';
    background-image: url("../img/svg/tn-bg-side-img.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}

.side-right{

  &:after{
    left: 25%;
    bottom: -8%;
  }
}
.side-left{

  &:after{
    left: -25%;
    bottom: -8%;
  }
}

.side-1{

  &:after{
    background-image: url("../img/svg/tn-bg-landing-img.svg");
    width: 80%;
    height: 130%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }
}
.side-2{
  &:after{
    background-image: url("../img/svg/tn-bg-landing-img.svg");
    left: -0;
    bottom: 15%;
    width: 50%;
    height: 50%;
  }
}

.side-3{
  &:after{
    background-image: url("../img/svg/tn-bg-landing-img.svg");
    right: -25%;
    //bottom: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    height: 90%;
  }
}

.input-tn{
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: 'aalto-sans-pro-medium';
  font-size: $s16;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
  &::placeholder{
    font-family: 'aalto-sans-pro-medium';
    font-size: $s16;
    color: black;
  }
  &:focus, :active{
    outline: none;
  }
}

.logo-tn-footer{
  width: 108px;
}

.faceb{
  width: 13px;
  height: 24px;
}

.insta{
  width: 24px;
  height: 24px;
}

.whats{
  width: 25px;
  height: 24px;
}

.version-landing{
  h3.text-blue-tn{
    color: black;
  }

  p{
    color: $ornageTn;
  }

  button.btn-blue{
    background-color: $ornageTn;
    p{
      color: white;
      font-family: aalto-sans-pro-medium;
      font-weight: 300;
    }
  }
}

.carousel-item{
  .carousel-caption{
    text-shadow: none;
    position: initial;
  }
}
.text-shadow-0{
  text-shadow: none;
}

.carousel-indicators{
  li{
    height: 5px;
    width: 5px;
    border-radius: 15px;
    background-color: #666666;
  }
  li.active{
    background-color: $ornageTn;
  }
}

//.avatar-contact{
//  width: 373px;
//}
