@font-face{
  font-family: 'bebas-kai';
  src: url('/fonts/BebasKai-Regular.otf');
  font-weight: 300;
}
@font-face{
  font-family: 'old-school-inline-alt';
  src: url('/fonts/old_school_united_inline_alt.ttf');
  font-weight: 300;
}
@font-face{
  font-family: 'old-school-regular';
  src: url('/fonts/old_school_united.ttf');
  font-weight: 300;
}
@font-face{
  font-family: 'museo-sans';
  src: url('/fonts/MUSEOSANS-300_0.otf');
  font-weight: 300;
}

//

@font-face{
  font-family: 'aalto-sans-pro-medium';
  src: url('/fonts/aalto-sans-pro-medium.otf');
  font-weight: 300;
}
@font-face{
  font-family: 'aalto-sans-pro-regular';
  src: url('/fonts/aalto-sans-pro-regular.otf');
  font-weight: 300;
}

@font-face{
  font-family: 'flexo-bold';
  src: url('/fonts/Flexo-Bold.otf');
  font-weight: 700;
}

@font-face{
  font-family: 'flexo-regular';
  src: url('/fonts/Flexo-Regular.otf');
  font-weight: 300;
}

@font-face{
    font-family: 'galano-grotesque-medium';
  src: url('/fonts/GALANOGROTESQUEMEDIUM.otf');
  font-weight: 300;
}

@font-face{
    font-family: 'aalto-pans-pro-semiboldIt';
  src: url('/fonts/aalto-pans-pro-semiboldIt.otf');
  font-weight: 300;
}

@font-face{
    font-family: 'aalto-sans-pro-semibold';
  src: url('/fonts/aalto-sans-pro-semibold.otf');
  font-weight: 300;
}
